# Ignore node_modules for the frontend
frontend/node_modules

# Ignore Maven target folder for the backend
backend/target

# Ignore Amplify artifacts (if used)
amplify/.awscloudbackend
amplify/backend/amplify-meta.json
.DS_Store
custom-nlp/src/__pycache__/*
custom-nlp/aws-cli-commands.txt
resources/*
custom-nlp/.idea/*